<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Select page</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
    <%- include("header_connected") %>
    <% for( let index=0; index < robots.length; index++ ) { %>
        <div class="skills-ligne">
                <div>Nickname : <%= robots[index].nickname %></div>
                <div>Level : <%= robots[index].level %></div>
                <div><a href="/game/<%= userConnected.id_users %>/<%= selectedRobot %>/fight/<%= robots[index].id_users %>/<%= robots[index].id_robots %>">FIGHT !</a></div>
        </div>
        <% } %>

    </body>
</html>