<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Select page</title>
        <link rel="stylesheet" href="/style.css">
        <script src="/fight.js"></script>
        <%- include("header_connected") %>
    </head>

    <body> <!--(<//%= playerRobot.id_1 %>, <//%= playerRobot.id %>, <//%= enemyPlayerRobot.id_1 %>, <//%= enemyPlayerRobot.id_1 %>)-->
        <div class="body">    
            <div class="shop skill-ligne">
                <div class="flex-fight">
                    <div class="skills-ligne">
                        <img src="<%= playerRobot.img%>" class="imgrobot">
                        <%= playerRobot.nickname%>
                    </div>
                    <div class="skills-ligne">
                        FIGHT !!!
                        <br>
                        <br>
                        <%- combat %>
                    </div>
                    <div class="skills-ligne">
                        <img class="imgrobot" src="<%= enemyPlayerRobot.img%>">
                        <%= enemyPlayerRobot.nickname%>
                    
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>