<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<%- include("header_connected") %>
<body>
<div class="body">
    <div class="create-robot skill-ligne">
        <h4><span class="selectrobot">Select your robot !</span></h4><br>
    <% for( let index=0; index < robots.length; index++ ) { %>
        <div class="skills-ligne selectrobot">
            <a href="/game/<%= robots[index].id_users %>/<%= robots[index].id_robots %>">
                <img src="<%= robots[index].img %>" class="imgrobot">
            
                <div class="title"><%= robots[index].nickname %></div>
                <div><strong>Nickname</strong> : <%= robots[index].nickname %></div>
                <div><strong>Level</strong> : <%= robots[index].level %></div>
                <div><strong>Experience</strong> : <%= robots[index].experience %></div>
                <div><strong>Strength</strong> : <%= robots[index].strength %></div>
                <div><strong>Armor</strong> : <%= robots[index].armor %></div>
                <div><strong>Agility</strong> : <%= robots[index].agility %></div>
            </a>
        </div>
        <% } %>
        <br><div><h4><a class="logout selectrobot"  href="/<%= userConnected.id_users %>/create_robot"><span class="material-symbols-outlined">
            add
            </span>Create a robot</a></h4></div>
    </div>
</div>
</body>

</html>