<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include("header_connected") %>



            <div class="skills-ligne">
                Equipments to buy
                <% for(let index=0; index < items.length; index++) { %>
                            <div class="item"><a href="/game/<%= robot.id_users %>/<%= robot.id_robots %>/shops/buy/<%= shop.id_shops %>/<%= items[index].id_items %>">
                            <img class="img-bag" src="<%= items[index].img %>">
                        </a></div>
                        Price : <%= items[index].price %>
                <% } %>

</body>

</html>